{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Добро пожаловать на сайт рецептов!</h1>
        <p class="lead">Здесь вы найдете множество вкусных рецептов.</p>
        {% if request.user.is_authenticated %}
        <p class="lead">Пользователь: {{ request.user }}</p>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        {% if latest_recipes_list %}
            {% for recipe in latest_recipes_list %}
            <div class="col-sm-6 col-md-4">
                <div class="card mb-3">
                    <h5 class="card-title">{{ recipe.recipe_title }}</h5>
                    <img src="{{ recipe.recipe_foto.url }}" class="card-img-top" alt="{{ recipe.recipe_title }}">
                    <div class="card-body">
                        <hr>
                        <p  class="card-text">Описание: {{ recipe.recipe_text|truncatechars:50 }}</p>
                        <hr>
                        <p class="lead">Категория {{recipe.category}}</p>
                        <a href="{% url 'recipes:detail' recipe.id %}" class="btn btn-primary">Подробнее</a>
                        <em>Опубликовал {{recipe.author}}</em><br>
                    </div>
                </div>
            </div>
            {% endfor %}
        {%else%}
        <div class="col-sm-6 col-md-4">
            <div class="card mb-3">
                <p>В базе данных пока нет рецептов. Попробуйте добавить свой!</p>
                {% if request.user.is_authenticated %}
                    <form action="{% url 'recipes:add_recipe' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Добавить рецепт</button>
                    </form>
                {% else %}
                    <form action="{% url 'recipes:login_user' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Авторизация</button>
                    </form>
                {% endif %}                
            </div>
        </div>
        {% endif %}
    </div>
</div>

<!-- Блок с кнопками пагинации -->
<div class="pagination">
    <h1 class="lead">
        <strong>
    {% if recipes_page.has_previous %}
        <a href="{% url 'recipes:index' %}?page={{ recipes_page.previous_page_number }}">Предыдущая</a>
    {% endif %}
    
    {% for num in paginator.page_range %}
        {% if recipes_page.number == num %}
            <span class="current-page">{{ num }}</span>
        {% else %}
            <a href="{% url 'recipes:index' %}?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    {% if recipes_page.has_next %}
        <a href="{% url 'recipes:index' %}?page={{ recipes_page.next_page_number }}">Следующая</a>
    {% endif %}
        </strong>
    </h1>
</div>
{% endblock %}
