{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <p class="lead"> <h1>Вы уверены, что хотите удалить этот рецепт?</h1></p>
            <hr>
            <p><form method="POST">  
                {% csrf_token %} 
                <a href="{% url 'recipes:index' %}" class="btn btn-secondary">Отмена</a>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form></p> 
        </div>
    </div>

{% endblock %}